:root {
  --yellow-color: #fce006;
  --white-color: #fff;
  --gray-light-color: #d8d8d8;
  --gray-dark-color: #bdbdbd;
  --light-black-color: #1c1c1c;
  --gray-color: #848484;

  --padding: 12px;
}

* {
  margin: 0;
  padding: 0;
}

.bigscreen {
  display: none;
}

button,
button:hover {
  outline: none;
  border-style: none;
  background: none;
  cursor: pointer;
}

body {
  display: flex;
}

html,
body {
  height: 100%;
  width: 100%;
}

.setting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: none;
  background-color: var(--gray-light-color);
  height: auto;
  min-height: 100px;
  min-width: 12%;
  position: sticky;
  top: 0;
  left: 0;
}

.setting i {
  font-size: 20px;
  color: var(--gray-dark-color);
  padding: 15px 0;
}
.setting .chat {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.setting .set {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.setting .chat .chatting i {
  color: var(--light-black-color);
}

.main {
  padding: 0 12px;
  flex: 88%;
}

.main .menubar {
  text-align: right;
}

.main .menubar i {
  color: var(--gray-light-color);
  padding: 0 5px;
  font-size: 10px;
}

.search {
  padding: 15px 0;
}

.search input {
  width: 85%;
  border-radius: 20px;
  height: 20px;
  background: var(--gray-light-color);
  border: none;
  padding: 5px 10px;
}

.search button:hover {
  background-color: yellow;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.bar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.left span {
  font-size: 19px;
  font-weight: 800;
}
.left i {
  font-size: 10px;
  position: relative;
  top: -3px;
  padding-left: 3px;
}

.right i {
  color: var(--gray-color);
  font-size: 25px;
}

.right button {
  padding: 5px;
}
.chatting ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.chatting .info {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-left: 15px;
}

.chatting .info i {
  font-size: 40px;
}
.chatting .info ul {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.chatting .info .name {
  font-size: 15px;
  font-weight: 700;
}

.chatting .info .comment {
  font-size: 12px;
  padding-top: 2px;
  color: var(--light-black-color);
}

.chatting .time {
  font-size: 10px;
  color: var(--gray-color);
  padding-right: 20px;
  position: relative;
  bottom: -15px;
}

@media screen and (min-width: 600px) {
  .bigscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--yellow-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
  }

  .setting,
  .main {
    display: none;
  }
}
